.title {

    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 15px;
    padding-left: 15px;
}

.subtitle{
    
    font-size: 0.8rem;
    padding-left: 15px;
    padding-right: 740px;



}