
<mat-toolbar class="header"mat-elevation-z4>


    <i class="material-icons">dashboard</i><span><a><i><img class = "logo" src="assets/ak.png">
     </i></a></span>

 
     <button>
     <a routerLink="/" class="title-group">
     <i class="material-icons">home</i><span class="title-group"><a>Início </a></span>
     </a>    </button>
       
     <button class="title-group">
     <a mat-list-item  routerLink="products">
        <i class="material-icons">add_shopping_cart</i> Produtos
      </a></button>
            
</mat-toolbar>
